/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
/*  :root {
    --bg-color--dark: #0b192f;
    --bg-color--header: #024161;
    --link: #fff;
    --link--hover: #1f52a4;
    --bg-footer-color: #024161;
}*/

body {
    font-family: roboto;
}
.post-1 {
    background: #9d27b0;
}
.post-2 {
    background: #9bb800;
}
.post-3 {
    background: #ed5120;
}
.post-4 {
    background: #9d27b0;
}
.post-5 {
    background: #2d95bb;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0b192f;
    color: #e7e7e7;
}
a {
    text-decoration: none;
    color: #ffffff;
}
p {
    opacity: 0.8;
    font-weight: lighter;
    font-size: xx-small;
}
.wrapper {
    display: grid;
    grid-template-rows: auto 200px 1fr auto;
    grid-template-columns: 478px 152px;
    grid-template-areas:
            "nav nav"
            "section section"
            "main sidebar"
            "footer footer";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0;
}
header {
    grid-area: nav;
}
.header__inner {
    background: #024161;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;
}
.header__inner h1 {
    font-weight: lighter;
    font-size: 20px;
    margin-left: 15px;
    justify-content: flex-start;
}
.header__inner h1 > span {
    color: #d12767;
}
.menu {
    margin-right: 40px;
}
.menu__list {
    list-style: none;
    display: flex;
}
.menu__list li {
    margin-left: 20px;
}
.header__inner ul li a{
    font-size: x-small;
}
.header__inner li:hover {
    background-color: #1f52a4;
}
section {
    grid-area: section;
    background: no-repeat url("../img/post0.jpg") center 100% / cover;
}
.post-0 {
    padding: 108px 190px 30px 15px;
}
.post-0 h2, .article h2 {
    font-weight: lighter;
    font-size: 26px;
    margin: 0;
}
main {
    grid-area: main;
}
.article {
    display: flex;
    align-items: center;
    position: relative;
}
article:nth-child(even) > div {
    flex-direction: row-reverse;
    text-align: right;
}
article:nth-child(odd) > div {
    flex-direction: row;
    text-align: left;
}
article:nth-child(5) > div > div > p {
    padding-right: 50px;
}
.article_image {
    width: 49.7%;
}
.article_text {
    padding: 10px 15px 10px 20px;
}
.article_image:hover {
    opacity: 0.8;
}
.article_text:hover h2 {
    opacity: 0.8;
}
.day {
    width: 40px;
    position: absolute;
    opacity: 0.15;
    font-size: x-large;
    font-weight: lighter;
    top: 5px;
    right: 10px;
    text-align: center;
}
.month {
    font-size: medium;
    width: 40px;
}
article:nth-child(even) .day {
    left: 5px;
    top: 10px;
    display: block;
    width: 40px;
}
aside {
    grid-area: sidebar;
    color: #0b192f;
}
aside h3 {
    font-weight: lighter;
    font-size: large;
    margin: 0;
}
.news_text {
    background: #ffffff;
    margin-top: -4px;
    padding: 18px;
}
.news_image {
    width: 100%;
}
footer {
    grid-area: footer;
    background: #024161;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 15px 15px;
}
.sandwich_button {
    display: none;
}
.sandwich_button div {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    margin: 6px 0;
}
.sandwich_button div:nth-child(2) {
    background-color: #6e92a5;
}
.sandwich_button div:last-child {
    height: 1px;
    background-color: #a4bbc6;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    .header__inner {
        flex-direction: column;
        align-items: center;
        height: 180px;
    }
    .header__inner h1 {
        margin-bottom: 15px;
        font-size: 30px;
    }
    .sandwich_button {
        display: block;
        margin: 25px 0 15px 0;
    }
    .header__inner h1 > span {
        color: #9d27b0;
    }
    .article {
        display: block;
    }
    .article_image {
        width: 100%;
    }
    p {
        width: 80%;
        padding-left: 25px;
        text-align: left;
        font-size: 0.9em;
    }
    .post-0 h2, .article h2 {
        font-weight: lighter;
        font-size: 3.3em;
        margin: 0;
        line-height: 95%;
        text-align: left;
        padding-left: 25px;
    }
    article:nth-child(5) > div > div > p {
        padding: 30px 50px 30px 50px;
    }
    .day {
        top: 600px;
        right: 30px;
        font-size: 2.5em;
    }
    article:nth-child(even) .day {
        top: 575px;
        left: 710px;
    }
    .footer {
        display: block;
        text-align: center;
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-columns: auto;
        grid-template-areas:
                "nav"
                "section"
                "main"
                "sidebar"
                "footer";
        grid-column-gap: 5px;
        grid-row-gap: 20px;
    }
    ul {
        flex-direction: row;
    }
    .news_text {
        width: 650px;
    }

    .news_text h3 {
        font-size: 3em;
    }

    .news_text p {
        font-size: 1.5em;
    }
}