@mixin textWhite {
  color: #ffffff;
  font-family: 'Hind', sans-serif;
}

body {
  background-color: $bgColor;
  color: $textColor;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  min-width: 1920px;
  min-height: 720px;
  background-image: $headerImage;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  border-bottom-right-radius: 40% 40%;

 img {
    float: left;
    margin-right: 20px;
  }

 .landing-logo span {
    display:block;
    font-size: x-small;
    font-weight: normal;
  }

 .landing-logo p {
    font-weight: bold;
    font-size: 19px;
  }
 .header-wrap {
    margin: 21px 192px;
    height: 600px;
  }
 .header_heading {
    color: $headerColor;
    font-size: 69px;
    font-weight: bold;
    width: 500px;
    position: relative;
    z-index: 2;
    margin-bottom: 0;
    line-height: 70px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 290px;
      height: 46px;
      background-color: $highlightedWordsColor;
      z-index: -1;
    }
  }
 .header_text {
    white-space: pre-line;
    line-height: 28px;
    margin-bottom: 68px;
  }
}

main {
  margin: 0 403px;
}

button {
  @include textWhite;
  background: $btnColor;
  width: 142px;
  height: 49px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 17px;
}

.login {
  @include textWhite;
  font-size: 20px;
  margin: 40px 153px;
}

.section_text{
  font-size: 40px;
  font-weight: bold;
  font-family: 'Hind', sans-serif;
  text-align: center;
  z-index: 2;
  position: relative;
  margin: 30px 0;

  &::after {
    content: "";
    position: absolute;
    left: 563px;
    top: -2px;
    width: 185px;
    height: 49px;
    background-color: $highlightedWordsColor;
    z-index: -1;
  }
}

.section_card_heading {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
}

.section_card {
  background-color: $sectionBgColor;
  width: 1116px;
  margin: 26px 0;
  border-radius: 8px;
  align-items: center;
  display: flex;

  img {
    float: left;
    border-radius: 8px;
    margin: 22px;
    width: 80%;
    filter: contrast(1.2);
  }

  .section_card_text {
    margin: 5% auto;
    color: $textSectionColor;
    line-height: 25px;
    text-align: justify;
  }
  .section_card_right_container {
    width: 80%;
    margin: 0 9%;
    text-align: center;
  }
  a {
    color: $textSectionColor;
  }
}

.section_banner {
  background: linear-gradient(to right, #649412, #2c5adc);
  border-radius: 8px;
  width: 1198px;
  height: 143px;
  margin: 141px -39px -71px;
  position: relative;
  z-index: 2;
}
.section_banner_text_wrap {
  margin: 10px 162px;
  display: inline-block;
}
.section_banner_heading {
  font-size: 30px;
  font-weight: bold;
  line-height: 10px;

  &::after {
    content: "";
    position: absolute;
    left: 283px;
    top: 13px;
    width: 62px;
    height: 54px;
    background-color: $highlightedWordsColor;
    z-index: -1;
  }
}

.section_banner_text {
  color: $textSectionColor;
}
.section_banner_button {
  float: right;
  margin: 48px 160px;
}

footer {
  min-width: 1920px;
  min-height: 243px;
  background-color: $sectionBgColor;
  color: #b6c3c4;
  font-family: 'Hind', sans-serif;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  position: absolute;
}

  .footer-wrap {
    max-width: 1535px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    height: 166px;
    align-items: center;
}

  .footer_logo {
    display: flex;
    vertical-align: baseline;

  img {
    margin-top: 20px;
    padding-right: 15px;
    align-self: flex-start;
  }

  p {
    font-size: 23px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;

    span {
      display: block;
      font-size: 10px;
      font-weight: bold;
      line-height: 10px;
    }
  }
}

.footer_text {
  width: 307px;
  font-size: 14px;
  line-height: 21px;
}