$bgColor: #ffffff;
$textColor: #2c2f3c;
$sectionBgColor: #21232e;
$headerImage: url(../img/m-h-day.jpg);
$btnColor: #699900;
$headerColor: #2c2f3c;
$highlightedWordsColor: #14a0c7;
$textSectionColor: #b6c3c4;