$bgcolor: #21232e;
$textcolor: #ffffff;
$sectionbgcolor: #3b3f50;
$headerimage: url(../img/m-h-night.jpg);
$btnColor: #e3ac00;
$headerColor: #ffffff;
$highlightedWordsColor: #ff4e33;
$textSectionColor: #c3c1c5;