$textColor: #2c2f3c;
$linkColor: #ffffff;
$headerImage: url(../img/m-h-day.jpg);
$headerColor: #2c2f3c;
$highlightedWordsColor: #14a0c7;
$textSectionColor: #b6c3c4;

$fontMain: 'Source Sans Pro', sans-serif;
$fontAdditional: 'Hind', sans-serif;
$fontButtons: 'Hind', sans-serif;

$colors: ("primary": #21232e, "background": #ffffff, "button": #699900);