$bgColor: #21232e;
$textColor: #ffffff;
$sectionBgColor: #3b3f50;
$headerImage: url(../img/m-h-night.jpg);
$btnColor: #e3ac00;
$headerColor: #ffffff;
$highlightedWordsColor: #ff4e33;
$textSectionColor: #c3c1c5;