$textColor: #ffffff;
$linkColor: #ffffff;
$headerImage: url(../img/m-h-night.jpg);
$headerColor: #ffffff;
$highlightedWordsColor: #ff4e33;
$textSectionColor: #c3c1c5;

$fontMain: 'Fresca', sans-serif;
$fontAdditional: 'Fresca', sans-serif;
$fontButtons: 'Hind', sans-serif;

$colors: ("primary": #3b3f50, "background": #21232e, "button": #e3ac00);