@media screen {

    .tm-nav-item-link:hover {
        background-color: lightskyblue;
        color: #fff;
    }

}

@media print {

    ul.boxes.gallery-container,
    #about.tm-content-box,
    #contact.padding-medium,
    .tm-sidebar,
    .carousel-indicators,
    .img-fluid,
    .tm-team-img {
        display: none;
    }

    }
