@media screen {

    #home {
        background: linear-gradient(to right, lightskyblue, burlywood);
    }

    .tm-nav-item-link:hover {
        background-color: lightskyblue;
        color: #fff;
    }

   .tm-banner-inner {
        background-color: #fff;
    }

    .tm-banner-text {
        text-shadow: 5px 5px 3px #333;
        position: relative;
        animation: banner 4s cubic-bezier(0.25,0.1,0.25,1);
    }

    @keyframes banner {
        0% {
            left: 200px;
        }
        100% {
            left: 0;
        }
    }

    .flex-2-col {
        display: flex;
    }

    .flex-2-col [class^="tm-section"] {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .flex-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tm-box-bg-title:hover {
        background-color: lightgrey;
        color: lightskyblue;
        font-style: italic;
    }

    .padding-medium h2{
        color: lightskyblue;
        text-align: center;
    }

    .padding-medium ol {
        list-style-type: lower-alpha;
    }

    .padding-medium li:hover::before {
        content: ">";
        font-weight: bold;
    }

    a.text::after {
        content: "New";
        color: red;
        font-weight: bold;
        font-variant: small-caps;
        vertical-align: super;
        font-size: x-small;
}

    .blocks .tm-team-description-container p:last-child {
        word-spacing: 10px;
        letter-spacing: 5px;
        font-style: italic;
    }

    .box-work {
        padding: 10px;
    }

    .box-work > div p {
        font-style: italic;
    }

    .box-work > div p::first-letter {
        font-weight: bold;
    }

    .box-work:nth-child(odd) {
        background-color: lightskyblue;
        color: #fff;
    }

    p.tm-section-description {
        text-indent: 25px;
        line-height: 30px;
    }


}

@media print {

    ul.boxes.gallery-container,
    #about.tm-content-box,
    #contact.padding-medium,
    .tm-sidebar,
    .carousel-indicators,
    .img-fluid,
    .tm-team-img {
        display: none;
    }

    }
